<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Personal Cabinet</a>   
      <a mat-list-item routerLink="/cart" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Cart</a>
      <a mat-list-item routerLink="/scanner" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Back to scan</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Product information</span>
    <span style="flex: 1 1 auto"></span>
    <span>
      <button mat-icon-button routerLink="/cart">
        <mat-icon class="mat-icon" matBadge="4">shopping_cart</mat-icon>
      </button>
    </span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="product">
<img class="image" src="{{ product.img }}">
<p class="name">{{ product.name }}</p>
<hr color="#ACB8F7">
<div style="display: block; width: 90%; margin: 0 auto;">
  <div style="display: inline-block; width: 50%;">
    <p class="details">Energy(kcal): {{ product.theEnergyValue }}</p>
    <p class="details">Squirrels(g): {{ product.squirrels }}</p>
    <p class="details">Carbohydrates(g): {{ product.carbohydrates }}</p>
    <p class="details">Fats(g): {{ product.fats }}</p>
    
  </div>
  <div style="display: inline-block; width: 50%;">
    <p class="details">Brand: {{ product.brand }}</p>
    <p class="details">Type: {{ product.type }}</p>
    <p class="details">Taste: {{ product.taste }}</p>
    <p class="details">Weight(g): {{ product.weight }}</p>
  </div>
</div>
<hr color="#ACB8F7">
  <p class="price">Cost: {{ product.price }}BYN</p>
<hr color="#ACB8F7">
<button mat-raised-button class="add">Add to cart</button>
</div>
