<mat-toolbar class="toolbar">
  <span>Login</span>
</mat-toolbar>
<form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <mat-form-field class="standart-input">
    <input matInput placeholder="Email" #email formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
  </mat-form-field>
  <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="alert">
    <div *ngIf="form.get('email').errors.required">Email Name is required</div>
    <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
  </div>
  <mat-form-field class="standart-input">
    <input type="password" matInput placeholder="Password" #password formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
  </mat-form-field>
  <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="alert">
    <div *ngIf="form.get('password').errors.required">Password is required</div>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="goNext(email.value, password.value)" class="login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </div> 
</form>
