form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 250px;

    .emailForm {
        display: block;
        width: 100%;
    }

    .passwordForm {
        display: block;
        width: 100%;
    }
}
