<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list style="padding-top: 0px;">
      <a mat-list-item href="#" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Personal Cabinet</a>   
      <a mat-list-item href="#" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Cart</a>
      <a mat-list-item routerLink="/scanner" style="background-color: #FFFAFA; border-bottom: 1px solid #DCDCDC">Back to scan</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Информация о товаре</span>
    <span style="flex: 1 1 auto"></span>
    <span>
      <button mat-icon-button routerLink="/cart">
        <mat-icon class="mat-icon" matBadge="15">shopping_cart</mat-icon>
      </button>
    </span>
    </mat-toolbar>
    <ul>
      <li><span>Product</span><button>Delete</button></li>
      <li><span>Product</span><button>Delete</button></li>
      <li><span>Product</span><button>Delete</button></li>
      <li><span>Product</span><button>Delete</button></li>
      <li><span>Product</span><button>Delete</button></li>
      <li><span>Product</span><button>Delete</button></li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>